# Latex
*.aux
*.fls
*.log
*.pdf
*.out
*_latexmk
*.synctex*
*.bbl
*.bcf
*.blg
*.run.xml

# VS Code
.vscode*

# Commit file
[Nn]otes.txt
[Cc]ommit[Mm]essage*
[Cc]ommit[Mm]sg*
[Cc]ommit[-_][Mm]essage*
[Cc]ommit[-_][Mm]sg*